<?xml version="1.0" ?>

<group name="system" failures="1">
    <unit type="unit" name="one">
        <default vdd="1" />
        <default temperature="300" />
        <default frequency="2000" />
        <default peak_power="0.1" />
        <trace file="example/one.trace" />
        <trace file="example/fail.trace" />
    </unit>
    <unit type="unit" name="two">
        <default vdd="1" />
        <default temperature="300" />
        <default frequency="2000" />
        <default peak_power="0.1" />
        <trace file="example/two.trace" />
        <trace file="example/fail.trace" />
    </unit>
</group>